<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function popup(msg){
            // if(msg != ""){
                // alert() : 팝업창을 열어주는 함수
                alert(msg)
            // }
        }
    </script>
</head>
<% if (data != "") { %>
<body onload = "popup('<%=data%>')">
<%} else{%>
<body>
<%}%>
    <form action="/user/delete_user2" method="post">
        <label>PASSWORD</label>
        <input type="password" name="_pass" required>
        <input type="submit" value="회원탈퇴">
    </form>

</body>
</html>