<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        ID중복체크 
    </h1>

    <form action="/user/check_id" method="get">
        <label>ID</label>
        <input type="text" name="_id" required><br>
        <input type="submit" value="중복체크">
    </form>
</body>
</html>