<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert_db_info" method="post">
        <label>host</label>
        <input type="text" name="_host"><br>
        <label>port</label>
        <input type="text" name="_port"><br>
        <label>user</label>
        <input type="text" name="_user"><br>
        <label>password</label>
        <input type="text" name="_pass"><br>
        <label>DB_name</label>
        <input type="text" name="_db"><br>
        <input type="submit">
    </form>
</body>
</html>