<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/add_content2" method="post">
        <table>
            <tr>
                <th>글 제목</th>
                <td><input type="text" name="_title"></td>
            </tr>
            <tr>
                <th>본문</th>
                <td>
                    <textarea name="_content" style="width:500px;height:300px;"></textarea>
                </td>
            </tr>
        </table>
        <input type="submit" value="글 등록">
    </form>
</body>
</html>