<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/add_info2" method="post">
        <label>Age</label>
        <input type="number" name="_age"><br>
        <label>Gender</label>
        <input type="radio" name="_gender" value="1">남자
        <input type="radio" name="_gender" value="2">여자
        <br>
        <label>Phone</label>
        <input type="text" name="_phone"><br>
        <input type="submit" value = '정보 추가'>
    </form>
</body>
</html>