<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/signup2" method="post">
        <label>ID</label>
        <input type="text" name="_id" value="<%=id%>" readonly><br>
        <label>Password</label>
        <input type="pasword" name="_pass"><br>
        <label>Name</label>
        <input type="text" name="_name"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>