<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Check ID Page
    </h1>
    <form action="/check_id" method="get">
        <label>ID</label>
        <input type="text" name="_id" required><br>
        <input type="submit" value="아이디 중복체크">
    </form>
    <!-- 
        localhost:3000/check_id라는 주소로 data를 보내준다. 
        data의 형태는 {_id : 유저가입력한데이터}
     -->
</body>
</html>