<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Signup Page
    </h1>
    <form action="/signup2" method="post">
        <label>ID</label>
        <input type="text" name="_id"><br>
        <label>Password</label>
        <input type="password" name="_pass"><br>
        <label>Name</label>
        <input type="text" name="_name"><br>
        <label>Tel</label>
        <input type="text" name="_tel"><br>
        <label>Loc</label>
        <input type="text" name="_loc"><br>
        <label>Gender</label>
        <input type="radio" name="_gender" value="0">남자
        <input type="radio" name="_gender" value="1">여자<br>
        <label>Email</label>
        <input type="email" name="_email"><br>
        <input type="submit">
    </form>
</body>
</html>