<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./refer/head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Main</h1>
        <a href="/user/info" class="btn btn-primary">내 정보</a>
        <a href="/user/charge" class="btn btn-danger">충전</a>
        <a href="/user/logout" class="btn btn-secondary">로그아웃</a>
    </div>
</body>
</html>