<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./refer/head.ejs') %>
    <script>
        $(document).ready(function(){
        // id가 select1인 태그가 변할때 라는 이벤트 리스너 생성
            $('#select1').change(function(){
                // 변경된 value 값을 로드 
                const type = $('#select1 option:selected').val()
                console.log(type)
                // 비동기 통신을 이용하여 선택된 type의 category정보를 받아온다. 
                $.ajax(
                    {
                        url : '/book/cate', 
                        method : 'get', 
                        dataType : 'json', 
                        data : {
                            "_type" : type
                        }
                    }
                )
                .done(function(result){
                    $('#select2 option').remove()
                    // select2에 option을 추가해준다. 
                    // result는 [{}, {}, {}, {}]
                    for(let i = 0; i < result.length; i++){
                        $('#select2').append(`<option value=${result[i].code}>${result[i].name}</option>`)
                    }
                })
            })
        })
    </script>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="input_type">매입 / 매출</span>
                <select class="form-select" id="select1" name="_type" aria-describedby="input_type">
                    <option selected>매입 / 매출 선택</option>
                    <option value="매입">매입</option>
                    <option value="매출">매출</option>
                </select>    
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input_code">구분</span>
                <select class="form-select" id="select2" name="_code" aria-describedby="input_code">
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input_name">거래 품목</span>
                <input type="text" name="_name" class="form-control" aria-describedby="input_name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input_sold">단가</span>
                <input type="text" name="_sold" class="form-control" aria-describedby="input_sold">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input_amount">수량</span>
                <input type="text" name="_amount" class="form-control" aria-describedby="input_amount">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input_cost">거래 금액</span>
                <input type="text" name="_cost" class="form-control" aria-describedby="input_cost">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input_date">거래 일자</span>
                <input type="date" name="_date" class="form-control" aria-describedby="input_date">
            </div>
            <input type="submit" value="장부등록" class="btn btn-primary">
        </form>
    </div>
</body>
</html>