<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./refer/head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Main</h1>
        <a href="/user/info" class="btn btn-primary">내 정보</a>
        <a href="/user/charge" class="btn btn-danger">충전</a>
        <a href="/user/logout" class="btn btn-secondary">로그아웃</a>
        <a href="/book/list" class="btn btn-warning">장부 리스트 확인</a>
        <a href="/book/period_total" class="btn btn-info">기간별 합계금</a>
        <a href="/book/month_total" class="btn btn-info">월별 합계금</a>
        <a href="/book/check_book" class="btn btn-info">장부 확인</a>
        <a href="/book/add" class="btn btn-primary">장부 입력</a>
    </div>
</body>
</html>